# Voice Recognition (Currently Active)
openwakeword
pyaudio
numpy
colorama
opencv-python
mediapipe

## Just as a note for me ##

# System Actions (Future Implementation)  
# pyautogui
# pillow

# Audio Processing (Future Implementation)
# pydub

# Configuration & Utilities (Future Implementation)
# pyyaml
